
<ul class="main-menu navbar-collapse collapse" id="side-nav">
  <li class="has-sub"><a href="/panel"><i class="icon-layout"></i><span class="title">Inicio</span></a></li>
  <li class="has-sub"><a href="/panel/myfn"><i class="icon-google-circles"></i><span class="title">Mi Fundacion</span></a></li>
  <li class="has-sub"><a href="/panel/donation"><i class="icon-window"></i><span class="title">Donaciones</span></a></li>
  <li class="has-sub"><a href="/logout"><i class="icon-logout"></i><span class="title">Salir</span></a></li>
</ul>