ul#side-nav.main-menu.navbar-collapse.collapse
          li.has-sub
            a(href='/panel')
              i.icon-layout
              span.title Inicio
          li.has-sub
            a(href='/panel/myfn')
              i.icon-google-circles
              span.title Mi Fundacion
          li.has-sub
            a(href='/panel/donation')
              i.icon-window
              span.title Donaciones
          li.has-sub
            a(href='/logout')
              i.icon-logout
              span.title Salir