body {
  overflow-x:hidden;
  }

.naranja2 {
	background-color: #e1b244;
}

.azul3 {
	background-color:#034c61;
}

.cremita {
  background-color: #eaead1;
}

h1  {
  font-family: 'Raleway', sans-serif;
  color: #fff;
}

h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
  color:#fff;
}
h2 {
  font-size:29px;
}

h1 {
  font-size: 44px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

ul li a {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #fff !important;
}

.nav>li>a {
  padding: 10px 20px;
}

/*===================Utils===================*/

.verticalAlign {
  display: flex!important;
  align-items: center; /* align vertical */
}

.section-heading {
  margin: 4em 0 4em;
  text-align: center;
}

.noPadding {
  margin:0;
  padding:0;
}
.textAlignC {
  text-align:center;
}

/*===================Nav===================*/

nav.miNav{
	background-color: #034c61;
  border-color: #034c61;
  min-height:60px;
}

 .col-md-7 .header-content-inner {
	position:absolute;
	top:50%;

}
 .col-md-5 .header-content-inner {
  min-height:500px;

}
 div.btn-login {
    display: none;
  }

div.logo {
  top: 1.1em;
  position: absolute;
}

@media (min-width: 768px) {
  .navbar-right {
    position: absolute;
    right: 10%;
    top: 17%;
  }
  div.btn-login {
    display: block;
  }
  .btn-login {    
    position: absolute;
    top: 17%;
    right: 2%;
    padding: 8px 20px;
    border: 1px solid #e1b244;
    background-color: #e1b244;
    border-radius: 10px;
    transition: .6s ease;
 }

 .btn-login a {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #333;
  font-weight: 600;
  text-decoration:none;
}
 .btn-login:hover {  
  background-color:#fff;
  border-color:#fff;
}
nav.navbar-default li:hover a:after {
  background: #fff;
  content: "";
  position: relative;
  height: 2.40px;
  width: inherit;
  display: block;
  text-align: center;
  margin-top: 0.30em;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
}
    }

@media (max-width: 767px) {
  nav.navbar-default h3 {
    margin-left: 1em;
}
  header .header-content {
    text-align: center !important;
    justify-content: center;
    display: flex;
  }
  div#btn-apple {
    margin-right:0;
    }
  .smartphone {
    min-width: 100vw !important;
    position: relative !important;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center center !important;
  }
  .col-md-7 .header-content-inner {
    top:37vh;
}
  .nav>li>a:active {
    color:#888 !important;
  }

  div.logo {
    left: 4%;
  }
        }


.icon-bar {
  background-color:#fff !important;
}
#nav-toggle:hover .icon-bar{
  background-color:#888 !important;
}
#nav-toggle:focus .icon-bar{
  background-color:#888 !important;
}


.navbar-toggle {
  margin-top: 15px;
  margin-bottom: 15px;
}

header .header-content {
    text-align: left;
    padding: 0;
    height: 100vh;
  }

 header {
 	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("../img/south-sudan.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("../img/south-sudan.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("../img/south-sudan.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.7), rgba(0,0,0,0.5)), url("../img/south-sudan.jpg");
 	background-size:cover;
 	background-position:center center;
 }
.smartphone {
  background-image: url("../img/iphone-hand.png");
  background-size: cover;
  background-position: center bottom;
  min-height: 80vh;
  min-width:29vw;
  position:absolute;
  bottom:0;
 }

 

/*===================Btn-Download===================*/

 .btn.btn-download {
    padding: 10px;
    background: white;
    border-radius: 15px;
    width: 180px;
    text-align: left;
    border: 1px solid white;
    margin-right: 10px;
    margin-top: 20px;
    transition: .8s ease;
    font-family: 'Open Sans', sans-serif;

}
 .btn.btn-download a {
   
    color: #333;
    
}

.btn.btn-download:hover{
    background-color: transparent;
}
.btn.btn-download:hover a{
    color: #fff;
}
.btn.btn-download a:hover{
    text-decoration:none;

}
.btn.btn-download i {
    width: 20px;
    font-size: 36px;
    margin-left: 10px;
    margin-right: 25px;
}

.btn.btn-download strong {
    font-weight: 800;
}

/*===================Section Video===================*/

.elVideo {
  min-height:100%;  
}

h1.elVideoH1 {
  color: #333;
}
.containerVideo {
  text-align: center;
  margin: 0 0 4em;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.videoYoutube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*===================Section Features===================*/

.features {
  min-height:100%;
  background: rgba(225,178,68,1);
  background: -moz-linear-gradient(45deg, rgba(225,178,68,1) 0%, rgba(194,101,25,1) 0%, rgba(253,210,110,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(225,178,68,1)), color-stop(0%, rgba(194,101,25,1)), color-stop(100%, rgba(253,210,110,1)));
  background: -webkit-linear-gradient(45deg, rgba(225,178,68,1) 0%, rgba(194,101,25,1) 0%, rgba(253,210,110,1) 100%);
  background: -o-linear-gradient(45deg, rgba(225,178,68,1) 0%, rgba(194,101,25,1) 0%, rgba(253,210,110,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(225,178,68,1) 0%, rgba(194,101,25,1) 0%, rgba(253,210,110,1) 100%);
  background: linear-gradient(45deg, rgba(225,178,68,1) 0%, rgba(194,101,25,1) 0%, rgba(253,210,110,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1b244', endColorstr='#fdd26e', GradientType=1 );
}
section.features .section-heading {
  margin-bottom: 5em;
}
section.features h1 {
  color: #000;
}
section.features h2 {
  color: #444;
}
section.features h3 {
  color: #222;
}
section.features p, h2 {
  color: #555;
}

section.features .section-heading h2 {
  margin-top: 0;
}
section.features .section-heading p {
  margin-bottom: 0;
}
section.features .device-container,
section.features .feature-item {
  max-width: 300px;
  margin: 0 auto;
}
section.features .device-container {
  margin-bottom: 100px;
}
@media (min-width: 992px) {
  section.features .device-container {
    margin-bottom: 0;
  }
}
section.features .feature-item {
  text-align: center;
  margin-bottom: 100px;
}
section.features .feature-item h3 {
  font-size: 30px;
}
section.features .feature-item i {
  font-size: 80px;
  /*background: -webkit-linear-gradient(to left, #034c61, #e1b244);
  background: linear-gradient(to left, #034c61, #e1b244);*/
  background-color:#034c61;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 992px) {
  section.features .device-container,
  section.features .feature-item {
    max-width: none;
  }
}
.containerFeatures {
  margin: 0 0 4em;
  justify-content:center;
}

@media (min-width: 600px) {
  .rowUno {
    display:flex;
  }
  .rowDos {
    display:flex;
  }
}

@media (max-width: 991px) {
  .elIphone {
    display:none;
  }
}

/*===================Section About===================*/

.features {
  min-height:100%;
}
.features-bg {
    position: relative;
    min-height: 400px;
    /*background: url('../img/helpinghand.jpg') no-repeat center center;*/
    background: -moz-linear-gradient(left, rgba(235,233,249,0.38) 0%, rgba(216,208,239,0.46) 36%, rgba(206,199,236,0.56) 77%, rgba(193,191,234,0.61) 100%), url('../img/helpinghand.jpg') no-repeat center center;
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(235,233,249,0.38)), color-stop(36%, rgba(216,208,239,0.46)), color-stop(77%, rgba(206,199,236,0.56)), color-stop(100%, rgba(193,191,234,0.61))), url('../img/helpinghand.jpg') no-repeat center center;
    background: -webkit-linear-gradient(left, rgba(235,233,249,0.38) 0%, rgba(216,208,239,0.46) 36%, rgba(206,199,236,0.56) 77%, rgba(193,191,234,0.61) 100%), url('../img/helpinghand.jpg') no-repeat center center;
    background: -o-linear-gradient(left, rgba(235,233,249,0.38) 0%, rgba(216,208,239,0.46) 36%, rgba(206,199,236,0.56) 77%, rgba(193,191,234,0.61) 100%), url('../img/helpinghand.jpg') no-repeat center center;
    background: -ms-linear-gradient(left, rgba(235,233,249,0.38) 0%, rgba(216,208,239,0.46) 36%, rgba(206,199,236,0.56) 77%, rgba(193,191,234,0.61) 100%), url('../img/helpinghand.jpg') no-repeat center center;
    background: linear-gradient(to right, rgba(235,233,249,0.38) 0%, rgba(216,208,239,0.46) 36%, rgba(206,199,236,0.56) 77%, rgba(193,191,234,0.61) 100%), url('../img/helpinghand.jpg') no-repeat center center;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebe9f9', endColorstr='#c1bfea', GradientType=1 );
    background-size: cover;
}
.texture-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url(../img/dark-dotted-2.png);
}
.seccionAbout {
  /*background-color:#7155AD;*/
  background-color:#083366;
  /*background-color:#275E90;*/
  min-height: 400px;
}
.containerAbout {
  padding:1.5em 4em;
}

section.about h1:after {
  content: "";
  position: relative;
  height: 0.1em;
  width: 2em;
  display: block;
  text-align: center;
  margin: 20px 0;
  -webkit-border-radius: 5em;
  -moz-border-radius: 5em;
  -ms-border-radius: 5em;
  -o-border-radius: 5em;
  border-radius: 5em;
  background: #e1b244;
}

section.about p {
  color:#c1c1c1;
}

/*===================Section Screens===================*/

.screens {
  min-height:100%;
}

section.screens h1, h2, p {
  color:#000;
}
.screenOne {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.screenOne img {
  width:80%;
}

.filtering {
  margin-bottom: 4em !important;
}

/*===================Section CTA===================*/

.cta {
  background-color:#21748B;
  padding-bottom: 6em;
}

section.cta .section-heading {
  margin: 6em 0 4em;
  }

section.cta .badges  {
  text-align:center;
}

section.cta .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}
section.cta .badges .badge-link:last-child {
  margin-bottom: 0;
}
section.cta .badges .badge-link img {
  height: 60px;
}
@media (min-width: 768px) {
  section.cta .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

/*===================Footer===================*/

footer {
  min-height:100%;
  background-color:#222;
  padding:4em 0;
}

footer ul {
  list-style-type:none;
  padding:0 !important;
}
footer ul li a{
  line-height:1.8em;
  color:#c1c1c1 !important;
  font-size:16px;

}
footer ul li a:hover {

  text-decoration:none;
  color:#fff !important;
}
footer p {
  color: #fff;
}

footer .containerUno {
  min-height: 150px;
  justify-content: center;
  display: flex;
}
footer .containerCopyright {
  position: absolute;
  bottom: -20px;
}

footer .social-icons {
  display:inline-flex;
}
footer .icon {
  margin: 0 1em;
  width: 3em;
  height: 3em;
  background-color: #e1b244;
  border-radius: 50%;
  transition: all .3s linear;
  top: 20px;    
}

footer .icon i {
  font-size: 1.5em;
  color: #000;
  position: relative;
  /* display: block; */
  /* text-align: center; */
  top: 25%;
  transition: all .3s linear;
  /* position: absolute; */
  /* transition: all 0.5s linear; */
}
footer .icon:hover {  
  background-color: #fff;
  
}
footer .facebook:hover i {  
  color:#3b5998;
}
footer .twitter:hover i {  
  color:#1DA1F2;
}
footer .linkedin:hover i {  
  color:#0077b5;
}
.containerRedes {
  min-height: 150px;
  justify-content: center;
}

/*===================Slick===================*/

.slick-dots {
  height: 50px;
  position: relative !important;
}
.slick-dots li {
  margin:0px 7px !important;
}

.slick-dots li button:before {
  font-size:30px !important;
}

.slick-prev {
    left: -18px !important;
}
.slick-next {
    right: -4px !important;
}
.slick-prev:before, .slick-next:before {
    color: #000000 !important;
    opacity: 0.45 !important;
}
@media (max-width: 1040px) {
  .slick-prev {
    left: -12px !important;
  }
  .slick-next {
    right: 2px !important;
  }
}

/*===================Login===================*/

section.login {
  min-height:100vh;
  background-color: #eaead1;
}

section.login .container{
  min-height:100vh;
  
}

.form-signin {
  position: absolute;
  top: 30%;
  text-align: center;
  width: 330px;
  left: 0;
  right: 0;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-signin {    
    padding: 10px 30px;
    border: 1px solid #47a095;
    background-color: #47a095;
    border-radius: 10px;
    margin-bottom:1em;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-decoration:none;
 }


 .btn-signin:hover {  
  background-color:#034c61;
  border-color:#fff;
}
.form-control:focus {
    border-color: #47a095;
    }
.form-signin a {
    color: #47a095;
}
.form-signin a:focus, a:hover {
    color: #034c61;
    }

/*===================Contacto===================*/

section.contacto {
  min-height:100vh;
  background-color:#FFE099;
}

section.contacto .container{
  min-height:100vh;
  
}
.contactoCont {
  position: absolute;
  width: inherit;
  top: 26%;
}

section.contacto .form-control{
  font-size:15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #c1c1c1;
  transition: all 0.5s ease;
}

section.contacto .form-control:focus {
  background-color: #fff;
  }