.menusShowPanles {
    width: 50%;
    top: 50%;
    height: auto;
    margin: 0 auto;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 989;
    margin-top: 5em;
    .panelGiphy {
        border: 1px solid #dedede;
        display: none;
        .headerGiphy {
            background: #009688;
            padding: 0.5em 0.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .title {
                font-weight: 400;
                color: white;
            }
            .addGallery {
                .title {
                    background: white;
                    color: #38B1A6;
                    padding: 0.3em 0.8em;
                    cursor: pointer;
                    border-radius: 4px;
                    box-shadow: 0 2px 0 #C3C0C0;
                }
            }
            .headerForm {
                display: flex;
                position: relative;
                display: none;
                .headerForm--Fieldset {
                    border: none;
                    padding: 0;
                    margin: 0;
                    input[name='jsSecondarySearch'] {
                        border: none;
                        padding: 0.2em 1em 0.2em 0.5em;
                        outline: medium none;
                        background: transparent;
                        border-bottom: 2px solid white;
                        color: white;
                    }
                    input[name='jsSecondarySubmit'] {
                        background: transparent;
                        color: white;
                        border: none;
                        outline: medium none;
                    }
                }
                .headerForm--Fieldset:nth-child(2) {
                    position: absolute;
                    left: 50%;
                    margin-left: 3em;
                    top: 50%;
                    margin-top: -1.1em;
                }
            }
        }
        .contentGiphy {
            background: white;
            background-size: cover;
            height: 500px;
            position: relative;
            overflow-y: scroll;
            .formGiphy {
                position: absolute;
                top: 45%;
                width: 50%;
                left: 0;
                right: 0;
                margin: 0 auto;
                box-sizing: border-box;
                text-align: center;
                input[type='search'] {
                    border-bottom-left-radius: 35px;
                    border-top-left-radius: 35px;
                    border: 3px solid #009688;
                    color: #009688;
                    outline: medium none;
                    padding: 0.8em 0.5em;
                    width: 100%;
                }
                input[type='submit'] {
                    background: #009688;
                    border: none;
                    color: white;
                    font-size: 1.5em;
                    margin: 0.5em 0;
                    padding: 0.3em 2em;
                    outline: medium none;
                }
            }
            .contentGiphy--Figures {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                padding: 1em;
                .figureGiphy {
                    margin: 0 0 0.5em 0;
                    position: relative;
                    .iconCont {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        margin-right: 0.5em;
                        margin-bottom: 0.5em;
                        display: none;
                        i {
                            color: #5991FF;
                            border-radius: 100%;
                            background: white;
                            font-size: 1.5em;
                            border: 2px solid white;
                        }
                    }
                }
                img {
                    width: 180px;
                    height: 150px;
                    border: 2px solid #009688;
                    display: block;
                }
            }
            
        }

        .contentGiphy::-webkit-scrollbar {
        	width: 10px;
        }
        .contentGiphy::-webkit-scrollbar-track {
        	//box-shadow: inset 0 0 10px #009688;
        }
        .contentGiphy::-webkit-scrollbar-thumb {
        	background: rgba(122, 124, 124, 0.6);
        }
    }
}
