@media screen and (min-width: 1020px) and (max-width: 1400px){

	.panelVixnet {
		height: 600px!important;
	}
	main .show .mensajes {
		height: 485px!important;
	}
	.menusShowPanles {
		width: 48%;
		left: 22%;
		.panelGiphy .contentGiphy {
			height: 237px;
		}
		.panelGiphy .contentGiphy .formGiphy {
			top: 30%;
		}
	}
}